[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt             = no

[req_distinguished_name]
C  = ID
ST = Jawa Barat
L  = Jakarta
O  = CloudInfra
CN = localhost

[v3_req]
keyUsage         = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth
subjectAltName   = @alt_names

[alt_names]
DNS.1 = localhost
IP.1  = 127.0.0.1
IP.2  = x.x.x.x
IP.3  = x.x.x.x
IP.4  = x.x.x.x
